@model ProfileViewModel
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Профиль";
    var user = await userManager.GetUserAsync(User);
}

<div class="page">
    <div class="profile">
        <form class="profile-photo" asp-action="ChangePhoto">
            <input type="file" name="photo" id="file">
            <div>
                <label for="file">+</label>
                <div>
                    <img src="@Url.Content(Model.User.Photo.Path + Model.User.Photo.Name)" alt="photo">
                </div>
            </div>
        </form>
        <div class="profile-info">
            <div class="profile-info-name">
                @Model.User.Name @Model.User.Surname
                <div>*</div>
            </div>
            <div class="profile-info-phone">
                @Model.User.Phone
            </div>
            <div class="profile-info-orders-wrap">
                <div class="profile-info-orders-header">
                    <span>@Model.Orders.Count заказов</span>
                </div>
                <div class="profile-info-orders">
                    @foreach (var order in Model.Orders)
                    {
                        <div class="profile-info-order-item-wrap">
                            <div class="profile-info-order-item">
                                <div class="profile-info-order-datetime">
                                    <div class="profile-info-order-date">
                                        Дата:
                                        <span>@order.Date</span>
                                    </div>
                                    <div class="profile-info-order-date">
                                        Время:
                                        <span>@order.Time</span>
                                    </div>
                                </div>
                                <div class="profile-info-order-price">
                                    @{
                                        double totalcost = 0;
                                        foreach (var purchase in order.Purchases)
                                        {
                                            totalcost += purchase.Amount * purchase.Product.Price * purchase.Portion.Multiplier;
                                        }
                                    }
                                    Общая стоимость:
                                    <span>@Math.Round(totalcost, 2) BYN</span>
                                </div>
                            </div>
                            <div class="profile-info-order-purchases">
                                @foreach (var purchase in order.Purchases)
                                {
                                    <div class="profile-info-order-purchase">
                                        <div class="profile-info-order-item-img">
                                            <img src="@Url.Content(purchase.Product.Photo.Path + purchase.Product.Photo.Name)" alt="img">
                                        </div>
                                        <div class="profile-info-order-amount">
                                            Количество:
                                            <span>@purchase.Amount</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="page">
    <div class="current-path">
        <a asp-controller="Home" asp-action="Index">Главная</a>
        <a asp-controller="Manage" asp-action="Index">Профиль</a>
    </div>
    <div class="profile_page">
        <div class="sidebar">
            <div>
                <a asp-controller="Manage" asp-action="Index" asp-route-id="@user.Id" class="sidebar_active">Мой профиль</a>
            </div>
            <div>
                <a asp-controller="Purchases" asp-action="Index">Мои заказы</a>
            </div>
            <div>
                <a asp-controller="Notifications" asp-action="Index">Уведомления</a>
            </div>
        </div>
        <div class="profile_page_content">
            <div class="page-header">Профиль</div>
            <div class="profile">
                <div class="profile__photo">
                    <img src="@Url.Content(Model.Photo.Path + Model.Photo.Name)" alt="img" />
                    <form asp-controller="Manage" asp-action="ChangePhoto" method="post" class="profile__form" enctype="multipart/form-data">
                        <input type="file" name="photo" value="Выбрать" />
                        <input type="submit" value="Изменить" />
                    </form>
                </div>
                <div class="profile__info">
                    <form asp-controller="Manage" asp-action="ChangeInfo" method="post">
                        <div>
                            Username: @Model.UserName
                        </div>
                        <div>
                            Email: @Model.Email
                        </div>
                        <div>
                            Имя: @Model.Name
                            <input class="change_info_input" type="text" name="Name" value="@Model.Name" />
                        </div>
                        <div>
                            Фамилия: @Model.Surname
                            <input class="change_info_input" type="text" name="Surname" value="@Model.Surname" />
                        </div>
                        <div>
                            Возраст: @Model.Age
                            <input class="change_info_input" type="number" name="Age" value="@Model.Age" />
                        </div>
                        <div>
                            Телефон: @Model.Phone
                            <input class="change_info_input" type="number" name="Phone" value="@Model.Phone" />
                        </div>
                        <div>
                            Адрес доставки: @Model.Address
                            <input class="change_info_input" type="text" name="Address" value="@Model.Address" />
                        </div>
                        <button id="change_info_btn">Редактировать</button>
                        <button id="change_info_btn_cancel">Отмена</button>
                        <input id="change_info_submit_btn" type="submit" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@