@model MenuViewModel
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Menu";
    var authorize = signInManager.IsSignedIn(User);
    var user = await userManager.GetUserAsync(User);
}

<div class="main-page">
    <div class="page-header">Меню</div>
    <div class="menu-filter">
        <form asp-controller="Menu" asp-action="Index" method="get">
            <div class="form-inline">
                <label>Имя: </label>
                <input name="name" value="@Model.FilterViewModel.SelectedName" class="form-control" />

                <label>Компания: </label>
                <select name="company" asp-items="Model.FilterViewModel.Categories" class="form-control"></select>

                <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
            </div>
        </form>
        <a asp-action="Index"
           asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-category="@(Model.FilterViewModel.SelectedCategory)">Название</a>
        <a asp-action="Index"
           asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-category="@(Model.FilterViewModel.SelectedCategory)">Цена</a>
        <a asp-action="Index"
           asp-route-sortOrder="@(Model.SortViewModel.PurchasesSort)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-category="@(Model.FilterViewModel.SelectedCategory)">Популярность</a>
        <a asp-action="Index"
           asp-route-sortOrder="@(Model.SortViewModel.CategorySort)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-category="@(Model.FilterViewModel.SelectedCategory)">Категория</a>
        <div>
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   asp-route-sortorder="@(Model.SortViewModel.Current)"
                   class="btn  btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
                   asp-route-sortorder="@(Model.SortViewModel.Current)"
                   class="btn btn-outline-dark">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>
    </div>
    @if (authorize && await userManager.IsInRoleAsync(user, "Admin"))
    {
        <div>
            <a asp-controller="Admin" asp-action="AddProduct">Добавить продукт</a>
        </div>
    }
    <div class="menu-products">
        @foreach (var product in Model.Products)
        {
            <a class="product_item" asp-controller="Menu" asp-action="Details" asp-route-id="@product.Id">
                @if (authorize && await userManager.IsInRoleAsync(user, "Admin"))
                {
                    <form asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.Id" method="post">
                        <input type="submit" value="" class="delete_product"/>
                    </form>
                }
                <div class="product-title">
                    @product.Category.Name "@product.Name"
                </div>
                <div class="product-img">
                    <span class="product-item-price">@product.Price</span>
                    <img src="@Url.Content(product.Photo.Path + product.Photo.Name)" alt="photo" />
                </div>
            </a>
        }
    </div>
</div>