@model List<Notification>
@inject UserManager<ApplicationUser> userManager
@{ 

    var user = await userManager.GetUserAsync(User);
}

<div class="main-page">
    <div class="current-path">
        <a asp-controller="Home" asp-action="Index">Главная</a>
        <a asp-controller="Notifications" asp-action="Index">Уведомления</a>
    </div>
    <div class="profile_page">
        <div class="sidebar">
            <div>
                <a asp-controller="Manage" asp-action="Index" asp-route-id="@user.Id">Мой профиль</a>
            </div>
            <div>
                <a asp-controller="Purchases" asp-action="Index">Мои заказы</a>
            </div>
            <div>
                <a asp-controller="Notifications" asp-action="Index" class="sidebar_active">Уведомления</a>
            </div>
        </div>
        <div class="profile_page_content">
            <div class="profile_page_header">Уведомления</div>
            <div class="notifications">
                @foreach (var item in Model)
                {
                    <div class="notification">
                        <div>
                            @item.Message
                        </div>
                        <div>
                            @item.Date
                        </div>
                        <div>
                            @item.Time
                        </div>
                        <div>
                            @item.From
                        </div>
                        <form asp-controller="Notifications" asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <input class="notic_cross" type="submit" value="" />
                        </form>
                    </div>
                }
            </div>
        </div>

    </div>
</div>