@model IEnumerable<Order>
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Job";
    var user = await userManager.GetUserAsync(User);
} 

<div class="page">
    <div class="profile_page">
        <div class="sidebar">
            <div>
                <a asp-controller="Manage" asp-action="Index" asp-route-id="@user.Id">Мой профиль</a>
            </div>
            <div>
                <a asp-controller="Purchases" asp-action="Index" class="sidebar_active">Мои заказы</a>
            </div>
            <div>
                <a asp-controller="Notifications" asp-action="Index">Уведомления</a>
            </div>
        </div>
        <div class="profile_page_content">
            <div class="profile_page_header">Взять заказ</div>
            <div class="orders">
                @foreach (var order in Model)
                {
                    <div class="order">
                        <div class="order-header">
                            <div>
                                @order.Date
                            </div>
                            <div>
                                @order.Time
                            </div>
                            <div>
                                @order.User.Name
                            </div>
                        </div>
                        <div class="purchases">
                            @foreach (var purchase in order.Purchases)
                            {
                                <div class="purchase">
                                    <div class="purchase__img">
                                        <img src="@Url.Content(purchase.Product.Photo.Path + purchase.Product.Photo.Name)" alt="img" />
                                    </div>
                                    <div class="purchase__body">
                                        <div class="purchase__title">
                                            @purchase.Product.Category.Name "@purchase.Product.Name"
                                        </div>
                                        <div class="purchase__price">
                                            Цена: @purchase.Product.Price BYN
                                        </div>
                                    </div>
                                    <div class="purchase__amount">
                                        Кол-во: @purchase.Amount
                                    </div>
                                    <div>
                                        @purchase.Portion.Name @purchase.Portion.Size
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="take_order">
                            <form asp-controller="Purchases" asp-action="TakeOrder" asp-route-id="@order.Id" method="post">
                                <input type="submit" value="Взяться за заказ" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>